extends layout

block content
  h1 Navya Devineni's Genre list 
  p Welcome to Devineni's Genre List! 


  h3 List

  if error
    p Error getting dynamic content.
  else

    p The Genre list has the following record counts:

    ul
      
      
      li #[strong Genres:] !{data.genre_count}